div {
    border: 1px solid gray;
    padding: 5px;
    margin: 5px;
    background-color: white;
}

.relative {
    position: relative;
    left: 10px;
}

.fixed {
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: yellowgreen;
}

.container {
    position: relative;
    padding: 50px;
}

.absolute {
    position: absolute;
    top: 0px;
    right: 0px;
}

.sticky {
    position: sticky;
    top: 0px;
}