* {
    padding: 0;
    margin: 0;
}

video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
}

.header {
    height: 100vh;
    position: relative;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}