.btn {
    border: none;
    padding: .25rem .5rem;
    color: #2b2b2b;

    &:hover {
        background-color: cyan;
        color: red;
        cursor: pointer;
    }
}

.btn-2 {
    @extend .btn;
    margin: .5rem;
    border-radius: .25rem;
}