@use "mixins";

body {
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    background-color: azure;
    min-height: 100vh;
}

h1 {
    margin: 0;
    @include mixins.text-format();
}

p {
    color: mixins.$text-color;
    @include mixins.text-format(#666666);
}

div.listado {
    width: 10rem;
    padding: .5rem;
    background-color: aquamarine;

    ul {
        margin: 0 .5rem;
        li {
            list-style: none;
            &:hover {
                color: white;
                cursor: pointer;
            }
        }
    }
}