$color-main: #0075FF;
$color-sec: #000000;

@mixin btn-main {
    background-color: $color-main;
    color: white;
    border-radius: .25rem;
    border: solid 1px $color-main;
    padding: .25rem 1.5rem;


    &:hover {
        background-color: white;
        color: $color-main;
    }
}

@mixin btn-sec {
    background-color: white;
    color: $color-sec;
    border: none;
    padding: .25rem 1.5rem;


    &:hover {
        color: #888;
    }
}

@mixin btn-s {
    font-size: .75rem;
    padding: .1rem 1rem;
}

.btn-main {
    @include btn-main;
    
    &-s {
        @include btn-main;
        @include btn-s;
    }
}

.btn-sec {
    @include btn-sec;

    &-s {
        @include btn-sec;
        @include btn-s;
    }
}

.main-menu {


    li {
        font-size: .5rem;
        list-style: none;
        display: inline;
    }
}

.icon-sm {
    i {
        font-size: .75rem;
        padding: .1rem .25rem;
        color: $color-main;
        border-radius: 50%;
        box-shadow: 0 0 10px #00000040;
    }
}
