$color-main: #0075ff;
$color-sec: #000000;

@mixin btn-main {
  background-color: $color-main;
  color: white;
  border-radius: 0.25rem;
  border: solid 1px $color-main;
  padding: 0.25rem 1.5rem;

  &:hover {
    background-color: white;
    color: $color-main;
  }
}

@mixin btn-sec {
  background-color: white;
  color: $color-sec;
  border: none;
  padding: 0.25rem 1.5rem;

  &:hover {
    color: #888;
  }
}

@mixin btn-s {
  font-size: 0.75rem;
  padding: 0.1rem 1rem;
}

.btn-main {
  @include btn-main;

  &-s {
    @include btn-main;
    @include btn-s;
  }
}

.btn-sec {
  @include btn-sec;

  &-s {
    @include btn-sec;
    @include btn-s;
  }
}

.main-menu {
  margin-bottom: 0;
  li {
    font-size: 0.5rem;
    list-style: none;
    display: inline;
    a {
      color: #000;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.icon-sm {
  i {
    font-size: 1.25rem;
    padding: 0.4rem 0.65rem;
    color: $color-main;
    border-radius: 50%;
    box-shadow: 0 0 10px #00000040;
  }
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;

  .icon {
    color: $color-main;
    font-size: 10rem;
  }

  .description {
    .title {
      font-size: 2rem;
    }

    .text {
      color: #888;
      font-weight: 600;
    }
  }

  .cta {
    color: $color-main;
    font-weight: 600;
    margin-top: 3rem;
  }
}

.icon-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    .icon {
        color: $color-main;
        font-size: 10rem;
        padding: 0;
    }

    .title {
        margin-top: -2rem;
        font-size:1.5rem;
        font-weight: 600;
    }
}
