@use "components";

@mixin section-display($display) {
    display: $display;
    width: auto;
    max-width: 768px;
    margin: auto;
    padding: 3rem;
    align-items: center;
    justify-content: center;
}

body {
    padding: 0;
    margin: 0;
}

.nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 4rem;
    border-bottom: solid 1px #ddd;
    align-items: center;
}

.logo img {
    max-width: 5rem;
}

.sec-home {
    @include section-display(flex);
    .home-cta {
        flex: 1;
        .cta-text {
            color: components.$color-main;
        }
        .home-title {
            width: 20rem;
            font-size: 3rem;
        }
    }
    .home-img {
        display: flex;
        justify-content: center;
        img {
            width: 50%;
        }
    }
}

.sec-features {
    @include section-display(flex);
    .intro {
        text-align: center;
        h3 {
            font-size: 1.8rem;
        }
        p {
            font-size: .8rem;
            color: #888;
        }
    }
    .features {
        .text {
            .feature {
                .description {
                    .title {

                    }
                    .text {

                    }
                }
            }
        }
    }
}