* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.nav-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: beige;
    width: 25vw;
    height: 100%;
    padding: 1rem;
}

.nav-bar div {
    background-color: aquamarine;
    width: 75%;
    height: 20%;
}

.main-section {
    display: flex;
    flex-grow: 1;
    background-color: blue;
}

@media all and (max-width: 640px) {
    .nav-bar {
        flex-direction: row;
        position: fixed;
        bottom: 0;
        height: 25vw;
        width: 100%;
    }

    .nav-bar div {
    background-color: aquamarine;
    width: 20%;
    height: 75%;
}
}