.padre {
    width: 400px;
    height: 400px;
    background-color: blue;
}

.hijo {
    width: 50%;
    height: 50%;
    background-color: beige;
    /* transition: all .5s ease-in .5s; */
}

.padre:hover .hijo {
    animation: corners 4s ease-in-out infinite forwards alternate;
    /* transform: translateX(100%);
    background-color: blueviolet; */
}

@keyframes corners {
    0% {
        background-color: beige;
        transform: translateX(0%) translateY(0%);
    }
    25% {
        background-color: brown;
        transform: translateX(100%) translateY(0%);
    }
    50% {
        background-color: aqua;
        transform: translateX(100%) translateY(100%);
    }
    75% {
        background-color: chartreuse;
        transform: translateX(0%) translateY(100%);
    }
    100% {
        background-color: beige;
        transform: translateX(0%) translateY(0%);
    }
}