h1 {
    color: red;
    font-size: 4rem;
}

p {
    font-size: 2rem;
}

/* @media all and (max-width: 576px) */

/* @media (max-width: 576px) {
    h1 {
        color: blue;
    }
} */

@media (max-width: 995px) {
    h1 {
        color: green;
    }
}

@media (min-width: 576px) and (min-height: 300px) {
    p {
        color: brown;
    }
}