:root {
    --color-principal: rgb(220, 142, 100);
    --ancho-principal: 350px
}

.title {
    color: var(--color-principal);
}

.footer {
    color: var(--color-principal);
}

.contenedor {
    background-color: white;
    padding: 1rem;
    max-width: var(--ancho-principal);
}